.container-card {
    width: 100%;
    min-height: 100vh;
    color: #000;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    row-gap: 20px;
    


}

.card-item {
    width: 30%;
    height: 450px;
    text-align: center;
    padding: 10px 10px;
    display: flex;
    flex-direction: line;
    align-items: center;
    justify-content: center;
    gap: 15px;
    box-shadow: 1px 1px 30px #000;
    border-radius: 10px;
    transition: .5s;

}   

.card-item:hover {
    transform: scale(1.1);
}

.card-item img {
    width: 70%;
    border-radius: 10px;
}